aws.batch.maxParallelTransfers = 1


params {
  storageClass = 'GLACIER_IR'
}

process {
    withName:'CRAM2BAM'{
        queue = "${QUEUE}"
        cpus   = 30
        memory = 100.GB
        publishDir = [
            path: "${params.outdir}",
            mode: "copy",
            storageClass: "${params.storageClass}"
        ]
    }
}